#answerOptions {
    display: grid;
}
.firstcontainer {
    font-weight: bolder;
    margin-top: 40px;
    text-align: center;
}
.p-3 {
    background-color: #333;
    color: white;
}
.secondcontainer {
    display: none;
    margin-top: 40px;
    text-align: center;
}
.lastcontainer {
    display: none;
    margin-top: 50px;
    text-align: center;
}

.highscorescontainer {
   margin-bottom: 30px;
    text-align: center;
}
